*{
    margin: 0;
    padding: 0;
}
::placeholder{
    color: white;
}
textarea.placeholder {
    color:black;
}

i{
    color:orange;
}

#register{
    float: right;
    margin-top: 50px;
    margin-right: 50px;
    /* top: 50px;
    right: 50px; */
}
#login{
    float: right;
    margin-top: 50px;
    margin-right: 50px;
}
#modelbody{
    background: url(../img/slider1.jpg) no-repeat center center fixed;
    background-size: cover;
}

.custom-select {
    
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 20px;
    font-style: bold;
    color: white;
    margin: 0px 0px 0px 0px;
    border-bottom: 2px solid rgb(164, 255, 124);
}

.custom-select option{
    color: white;
    background-color: rgb(0, 0, 0);
}


.container1{
    border: 12px solid transparent;
    color: white;
    /* position: absolute;
    top: 20%; left: 35%; */
    width: 40%;
    margin: auto;
    margin-top: 13%; 
}

.container1 h3{
    font-size: 40px;
    border-bottom: 5px solid rgb(8, 222, 241);
    margin-bottom: 5px;
    padding: 5px 0px;
}

.container2{
    border: 12px solid transparent;
    color: white;
    /* position: absolute;
    top: 20%; left: 30%; */
    width: 40%;
    margin: auto;
}

.container2 h3{
    font-size: 40px;
    border-bottom: 5px solid rgb(8, 222, 241);
    margin-bottom: 5px;
    padding: 5px 0px;
}

.box{
    
    margin: 0px 0px;
    border-bottom: 2px solid rgb(164, 255, 124);
}

.box input{
      background-color: transparent;
      color: rgb(255, 255, 255); 
      padding: 5px;
      font-size: 20px;
      border: none;
      outline: none;
     
}

.box i{
    width: 25px;
    text-align: center;
}

.button{
    color: white;
    cursor: pointer;
    outline: none;
    margin: 12px 0;
    padding: 10px 21px;
    border: 2px solid rgb(8, 222, 241);
    border-radius: 10px;
    font-size: 10px;
    background: none;
    font-weight: bold;
}
.container2{
    width:auto;
}
.container1{
    width:auto;
}
#login, #register{
   margin-top:10px;
}

.button:hover{
    /* opacity: 0.5; */
    color: orange;
    background: rgb(27, 17, 29);
}
@media screen and (max-width: 766px) {
    .container2{
        width:auto;
    }
    .container1{
        width:auto;
    }
    #login, #register{
       margin-top:10px;
    }
    
}
.error{
    color:red;
}
@media screen and (min-height: 800px) {
    .container2{
       margin-top:100px;
    }
    .container1{
        margin-top:150px;
    }
}
#b1{
    color: #007bff;
}